.list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-page h1 {
  padding: 10px;
  text-align: center;
  color: #3A463E;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-column-gap: 25px;
  margin-bottom: 90px;
}

.pokemon-card {
  position: relative;
  display: grid;
  grid-template-columns: 1 1;
  background-color: #698880;
  background-blend-mode: multiply;
  border: none;
  width: 20dvw;
  height: 20dvh;
  margin-top: 30px;
  border-radius: 10px;
  color: #c4c8c5;
  font-size: 1rem;
  padding: 10px 10px 10px 10px;
  transition: transform 0.3s ease-in-out,
              background-color 0.2s ease-out,
              font-size 0.3s ease-in-out,
              background-size 0.2s ease-in;
}

.pokemon-card:hover {
  font-size: 1.5rem;
  background-color: #3A463E;
  color: #F9F7F9;
  transform: translateY(-5px);
  background-size: 200% !important;
}

.pokemon-card:hover > #pokemon-img {
  width: 15dvh;
  height: 15dvh;
}

#pokemon-img {
  position: absolute;
  top: calc(50% + 1rem);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12dvh;
  height: 12dvh;
  transition: width 0.3s ease-in-out,
              height 0.3s ease-in-out;
}

#pokemon-name {
  display: flex;
  font-family: "Protest Strike";
  font-style: normal;
  font-weight: 100;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#pokemon-id {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  font-family: "Protest Strike";
  font-style: normal;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pokemon-card h3 {
  font-style: italic;
}

.list-page main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-page {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pokemon-container {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  .pokemon-card {
    width: 40dvw;
    font-size: 0.8rem;
  }
  .pokemon-card:hover {
    font-size: 1rem;
  }
}