.list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-page h1 {
  padding: 10px;
  text-align: center;
  color: #3A463E;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-column-gap: 25px;
  margin-bottom: 90px;
}

.pokemon-card {
  position: relative;
  display: grid;
  grid-template-columns: 1 1;
  background-color: #698880;
  background-blend-mode: multiply;
  border: none;
  width: 20dvw;
  height: 20dvh;
  margin-top: 30px;
  border-radius: 10px;
  color: #c4c8c5;
  font-size: 1rem;
  padding: 10px 10px 10px 10px;
  transition: transform 0.3s ease-in-out,
              background-color 0.2s ease-out,
              font-size 0.3s ease-in-out,
              background-size 0.2s ease-in;
}

.pokemon-card:hover {
  font-size: 1.5rem;
  background-color: #3A463E;
  color: #F9F7F9;
  transform: translateY(-5px);
  background-size: 200% !important;
}

.pokemon-card:hover > #pokemon-img {
  width: calc(20dvw - 25%);
  height: calc(20dvh - 25%);
}

#pokemon-img {
  position: absolute;
  top: calc(50% + 1rem);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10dvw;
  height: 10dvh;
  transition: width 0.3s ease-in-out,
              height 0.3s ease-in-out;
}

#pokemon-name {
  display: flex;
  font-family: "Protest Strike";
  font-style: normal;
  font-weight: 100;
}

#pokemon-id {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.pagination-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3A463E;
  z-index: 2;
  padding: 15px 0 15px 0;
}

.pagination-button {
  text-align: center;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: #698880;
  border-radius: 25px;
  color: #c4c8c5;
  padding: 3px 10.5px;
  box-shadow: inset 0 0 0 0 #2ACCAD;
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.6s;
  font-size: 0.75rem;
}

.pagination-button:hover {
  box-shadow: inset 125px 0 0 0 #2ACCAD;
  color: #F9F7F9 !important;
  background-color: #F9F7F9 !important;
}

#pagination-number {
  padding: 5px 15px 5px 15px;
  margin: 0 2px 0 2px;
}

#pagination-previous {
  margin-right: 2px;
}

#pagination-next {
  margin-left: 2px;
}

.pokemon-card h3 {
  font-style: italic;
}

.list-page main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-page {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pokemon-container {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  .pokemon-card {
    width: 40dvw;
    font-size: 0.8rem;
  }
  .pokemon-card:hover {
    font-size: 1rem;
  }
}