.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3A463E;
  padding: 10px;
}

.home-title h2 {
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}

.home-page main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page p {
  font-size: large;
  text-align: center;
}

.home-page button {
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: #2ACCAD;
  cursor: pointer;
  font-size: large;
  text-align: center;
  min-width: 50px;
  color: #3A463E;
  margin: 80px 25px;
}

.home-page button:hover {
  background-color: #698880;
  color: #F9F7F9;
}
