nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3A463E;
  z-index: 2;
}

nav a {
  color: #c4c8c5;
  padding: 10px 20px 10px 20px;
  margin: 1rem;
  background-color: #3A463E;
  border-radius: 25px;
  box-shadow: inset 0 0 0 0 #2ACCAD;
  transition: color 0.3s ease-in-out,
              box-shadow 0.5s ease-in-out,
              background-color 0.7s ease-in-out;
}

nav a:hover {
  box-shadow: inset 125px 0 0 0 #2ACCAD;
  color: #F9F7F9;
  background-color: #F9F7F9;
}

.active {
  font-weight: 700;
  color: #2ACCAD;
}

@media screen and (max-width: 768px) {
  nav a {
    padding: 10px 10px 10px 10px;
    margin: 1dvh 1dvw 1dvh 1dvw;
  }
}